<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kundenverwaltung</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-2">
                <a asp-controller="Home" asp-action="Index" class="@GetClassForButton("Home")">Übersicht</a>
                <a asp-controller="Home" asp-action="DeleteView" class="@GetClassForButton("Home")">Papierkorb</a>
                <a asp-controller="Seed" asp-action="Index" class="@GetClassForButton("Seed")">Daten generieren</a>
                <hr size="30">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                            <label>Angemeldet als:</label><br />
                            <label>@User?.Identity?.Name</label><br />
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Abmelden</a>
                        }
                        else
                        {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Anmelden</a>
                        }
                </div>
            <div class="col">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

@functions
    {
    string GetClassForButton(string controller)
    {
        return "btn btn-block " + (ViewContext.RouteData.Values["controller"] as string == controller ? "btn-primary" : "btn-outline-primary");
    }
}



